$red: #E5243B;
$mustard: #DDA63A;
$kellyGreen: #4C9F38;
$darkRed: #C5192D;
$redOrange: #FF3A21;
$brightBlue: #26BDE2;
$yellow: #FCC30B;
$burgundyRed: #A21942;
$orange: #FD6925;
$magenta: #DD1367;
$goldenYellow: #FD9D24;
$darkMustard: #BF8B2E;
$darkGreen: #3F7E44;
$blue: #0A97D9;
$limeGreen: #56C02B;
$indigo: #00689D;
$navyBlue: #19486A;